@charset "UTF-8";
/* 文字エンコーディングをUTF-8に設定 */

/* 基本的なスタイル設定 */
body {
	margin: 20px;
	font-size: 14px;
	background-color: #ffffff;
	/* 白色に変更 */
	color: #333;
	font-family: Arial, sans-serif;
}

/* ヘッダーエリアのスタイル */
.manager-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

/* 見出しのスタイル */
h1,
h2 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	margin: 10px 0;
}

h1 {
	color: #ffffff;
	/* h1要素の文字色を白色に変更 */
	text-align: center;
    background-color: #000000;
    /* h1要素の背景色を黒色に変更 */
    padding: 8px;
	font-size: 28px;
}

h2 {
/*	color: #f3accf; */
	color:#000000;
	/* h2要素の色を黒色に変更 */
	text-align: left;
	font-size: 20px;
}

/* テーブルスタイル */
table {
	border: solid 3px #000000;
	/* テーブルの境界線色を黒に変更 */
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: center;
	color: #000000;
	background-color: #dcdcdc;
	/* 背景を薄いグレーに変更 */
	padding: 4px 10px;
	/* 罫線下部を黒色に変更 */
	border-bottom: solid 1px #000000;
}

td {
	padding: 4px 10px;
	border: solid 1px #000000;
	/* 境界線色を黒に変更 */
}

/* フォーム関連のスタイル */
textarea,
input[type="text"] {
	padding: 10px;
	border: 1px solid #000000;
	/* ボーダーを薄いピンクに変更 */
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

textarea {
	width: 100%;
	max-width: 100%;
	height: 150px;
	resize: vertical;
}

input[type="text"] {
	margin: 8px 0;
	display: inline-block;
}

input[type="text"]:focus {
	outline: none;
	border-color: #000000;
	/* フォーカス時のボーダーカラーを黒色に */
}

/* 2024/3/1　追加 */
input[type="password"]:focus {
	outline: none;
	border-color: #000000;
	/* フォーカス時のボーダーカラーを黒色に */
}

/* ボタンスタイル */
button {
	width: 90px;
	margin: 10px 4px;
	padding: 4px;
	background-color: #a9a9a9;
	/* ボタンの背景色を薄いグレーに */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #808080;
	/* ホバー時にボタンの背景色を濃い灰色に */
}

/* 追加のクラススタイル */
.red {
	color: #e74c3c;
	/* 赤色のテキストカラーを設定 */
}

.gray {
	background-color: #a9a9a9;
	/* 灰色の背景色を設定 */
}

.dodger-blue {
	background-color: #1E90FF;
	/* ドジャーブルーの背景色を設定 */
}

.managername {
	color: #333;
	background-color: #f8f0f8;
	/* 薄いピンク色に変更 */
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
}

/* ログインフォームのスタイル */
.manager-login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.manager-login-horizon {
	display: flex; /* このコンテナの子要素を横に並べる */
	align-items: center; /* アイテムを中央に揃える */
}

.manager-login-form input{
	padding: 8px 12px;
	border: 1px solid #000000;
	/* 境界線を黒色に変更 */
	border-radius: 4px;
	margin-right: 10px;
}

.manager-login-form button {
	padding: 8px 12px;
	background-color: #a9a9a9;
	/* ボタンの背景色を灰色に設定 */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.manager-login-form button:hover {
	background-color: #808080;
	/* ホバー時にボタンの背景色を濃い灰色に変更 */
}

/* メンバー登録ボタンのスタイル */
.create-button {
	display: inline-block;
	/* インラインブロック要素として表示 */
	padding: 10px 15px;
	/* 内側の余白を設定 */
	background-color: #a9a9a9;
	/* ボタンの背景色を灰色に設定 */
	color: white;
	/* ボタンの文字色を白に設定 */
	text-align: center;
	/* テキストを中央揃えに設定 */
	text-decoration: none;
	/* テキストの装飾をなしに設定 */
	border-radius: 5px;
	/* ボタンの角を丸める */
	font-weight: bold;
	/* テキストを太字に設定 */
	border: none;
	/* ボタンの境界
    線を除去 */
	transition: background-color 0.3s;
	/* ホバー時の背景色の変更にアニメーションを適用 */
}

.create-button:hover {
	background-color: #808080;
	/* ホバー時に背景色を濃い灰色に変更 */
}
/* メンバー削除ボタンのスタイル */
.delete-button {
	display: inline-block;
	/* インラインブロック要素として表示 */
	padding: 5px 10px;
	/* 内側の余白を設定 */
	background-color: #a9a9a9;
	/* ボタンの背景色を灰色に設定 */
	color: white;
	/* ボタンの文字色を白に設定 */
	text-align: center;
	/* テキストを中央揃えに設定 */
	text-decoration: none;
	/* テキストの装飾をなしに設定 */
	border-radius: 5px;
	/* ボタンの角を丸める */
	font-weight: bold;
	/* テキストを太字に設定 */
	border: none;
	/* ボタンの境界
    線を除去 */
	transition: background-color 0.3s;
	/* ホバー時の背景色の変更にアニメーションを適用 */
}

.delete-button:hover {
	background-color: #808080;
	/* ホバー時に背景色を濃い灰色に変更 */
}

/* ログアウトボタンのスタイル */
.manager-logout-button {
	padding: 5px 10px;
	background-color: #a9a9a9;
	/* ボタンの背景色を灰色に設定 */
	color: white;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
}

.manager-logout-button:hover {
	background-color: #808080;
	/* ホバー時にボタンの背景色を濃い灰色に変更 */
}